h1 {
    background-color: #42a349;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 22px;
    margin: 4px 2px;
}
h2 {
    background-color: #42a349;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 4px 2px;
}
.button, .buttonsmall {
    background-color: #42a349;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-user-select: none; 
}
.buttonsmall {
    display: table-cell;
    font-size: 12px;
}
.bsd {
    display: table-cell;
    background-color: #113111;
}
.block {
    display: block;
}
.page {
    display: none;
}
label {
    display: inline-block;
    width:100px;
    text-align: right;
}
.view {
    width: 75%;
    display: block;
    height: 40vh;
    border-style: solid;
    border-color: black;
    overflow-y: auto;
    margin: auto;

}
.bottom {
    position: fixed;
    display: table;
    bottom: 0;
    width: 100%;
    padding: 0px 0px;
    margin: 0px 0px;
}
.rel {
    position: relative;
    display: block;
    height: 80%;
}
.low {
    position: absolute;
    bottom: 0;
    display: block;
}
.friend {
    margin: 1em 1em;
    -webkit-user-select: none; 
}
html {
    height: 100%;
    margin: 0px;
};
body {
    height: 100%;
    width: 100%;
    margin: 0px;
}
.screen {
    min-height: 100%;
}
#container {
  text-align: center;
}
#container div {
  width: 20%;
  display: inline-block;
  text-align: center;
}
